<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a ng-click="model.back()" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a ng-click="model.newWidget()" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<wam-sortable data="model"
              callback="model.reorderWidget(start, end)">
</wam-sortable>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <!--<a href="#">-->
                <div class="col-xs-6 text center">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-xs-6 text-center">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </div>
               <!-- </a>-->
            </div>
            <div class="col-xs-3 text-center">
               <!-- <a href="#">-->
                   <!-- <span class="glyphicon glyphicon-eye-open"></span>-->
               <!-- </a>-->
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a ng-click="model.profile()">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
