<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <p class="navbar-text pull-left">
                <a href="/assignment/page/page-list.html" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left">
                    </span>
                </a>
            </p>
            <a class="navbar-brand" href="#">
                Widgets
            </a>
            <p class="navbar-text pull-right">
                <a href="/assignment/widget/widget-chooser.html" class="navbar-link">
                    <span class="glyphicon glyphicon-plus">
                    </span>
                </a>
            </p>
        </div>
    </div>
</nav>


<div class="container">

    <div class="widget-class">
        <div class="widget-edit">
            <a href="/assignment/widget/widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h1>GIZMODO</h1>
    </div>

    <div class="widget-class">
        <div class="widget-edit">
            <a href="/assignment/widget/widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h4>Which Superhero Is Best? Research Says Definitely Not Batman</h4>
    </div>

    <div class="widget-class">
        <div class="widget-edit">
            <a href="/assignment/widget/widget-image.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <img width="100%" src="http://fractals.erucolindo3.com/images/julian-bubble.jpg">
    </div>

    <div class="widget-class">
        <div class="widget-edit">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p class="first-text">It’s kind of impossible to say which superhero is the best, since there’s just too many of them to count, but a seven-year study at the <a href="http://www2.le.ac.uk/offices/press/press-releases/2016/june/who2019s-the-best-equipped-superhero-student-research-settles-2018superpower-showdown2019" rel="noopener" target="_blank">University of Leicester</a> purports to help shine a light on the debate.<br></p>
    </div>

    <div class="widget-class">
        <div class="widget-edit">
            <a href="/assignment/widget/widget-heading.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <h4>Texas Man Buys Dam Online To Protect Home From Flooding, And It Worked</h4>
    </div>

    <div class="widget-class">
        <div class="widget-edit">
            <a href="/assignment/widget/widget-youtube.html">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <iframe width="100%" src="https://www.youtube.com/embed/GdpKs8zzaZU" frameborder="0" allowfullscreen></iframe>
    </div>

    <div class="widget-class">
        <div class="widget-edit">
            <a href="#">
                <span class="glyphicon glyphicon-cog"></span>
            </a>
            <span class="glyphicon glyphicon-align-justify"></span>
        </div>
        <p class="first-text">As thousands were evacuated across multiple counties in Texas due to horrible flooding, one man and his family are living high and dry thanks to something he bought on the internet.<br></p>
    </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container">
        <div class="row navbar-text">
            <div class="col-xs-3 text-center">
                <!--<a href="#">-->
                <div class="col-xs-6 text center">
                    <span class="glyphicon glyphicon-play"></span>
                </div>
                <div class="col-xs-6 text-center">
                    <span class="glyphicon glyphicon-eye-open"></span>
                </div>
               <!-- </a>-->
            </div>
            <div class="col-xs-3 text-center">
               <!-- <a href="#">-->
                   <!-- <span class="glyphicon glyphicon-eye-open"></span>-->
               <!-- </a>-->
            </div>
            <div class="col-xs-3 text-center">
                <a href="#">
                    <!--<span class="glyphicon glyphicon-star"></span>-->
                </a>
            </div>
            <div class="col-xs-3 text-center">
                <a href="/assignment/user/profile.html">
                    <span class="glyphicon glyphicon-user"></span>
                </a>
            </div>
        </div>
    </div>
</nav>
